html, body{
    margin:0;
    padding:0;
}

header {
    text-align: center;
    color: darkslategrey;
    font-family: verdana;
    font-size: 200%;
    font-weight: bold;
}

h1{
    text-align: center;
    color: darkslategrey;
    font-family: verdana;
    font-size: 200%;
    font-weight: bold;
}

p{
    text-align: center;
    color: black;
    font-family: verdana;
    font-size: 100%;
}

nav {
    display: block;
    width: 100%;
    height: 50px;
    background-color: darkslategrey;
}

ul {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

li {
    display: block;
    height: 100%;
    width:25%;
    float: left;
    background-color: #222;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-family: verdana;
}

li a{
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-family: verdana;
}

li:hover {
    background-color: darkslategrey;
    color: #222;
    font-weight: bold;
}

table#t01{
    width: 80%;
    background-color:  darkslategrey;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
    margin:auto;
    }
table#t01 caption{
    color: darkslategrey;
    font-family: verdana;
    font-size: 200%;
    font-weight: bold;
    }
table#t01 th{
    border: 2px solid black;
    border-spacing: 10px;
    padding: 15px;
    text-align: center;
    color: black;
    background-color: darkslategrey;
    font-family: verdana;
    }
table#t01 td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
    font-family: verdana;
    }
table#t01 tr:nth-child(even) {
    background-color: grey;
    }
table#t01 tr:nth-child(odd) {
    background-color: #fff;
    }

form{
    text-align: center;
    font-family: verdana;
    font-size: 100%;
    font-weight: bold;
}
form input{
    text-align: left;
    font-family: verdana;
    font-size: 100%;
    font-weight: normal;
    color:grey
}
form input:focus{
    color:black
}
form input#s01{
    text-align: left;
    font-family: verdana;
    font-size: 100%;
    font-weight: bold;
    color:black
}